.table-container{
  text-align:center;
}
.tav{
  align-items:center;box-shadow:10px 20px 10px rgb(209, 194, 194);margin-left:60px;
}

.btn2{
  background: blue;padding:10px;
}.btn3{
  background:green;padding:10px;
}.btn4{
  background:yellow;padding:10px;
}
button{background:rebeccapurple;
margin-left:10px;padding:10px;}
.container{
  display:flex;flex-direction:column;align-items:center;
  justify-content:center;box-shadow:1px 4px 10px rgb(71, 167, 223);width:auto;
}